@charset "UTF-8";


.box__share_sns{
	width:36px;
	height:36px;
    position: absolute;
	right: 15px;
	bottom: 15px;
    z-index: 10;
	font-size:0;
    //overflow:hidden;
    .button__share_list{
        width:36px;
        height:36px;
		position:relative;
		right:0;
		bottom:0;
		z-index:10;
		transition:all .3s ease-out;
        background-color:#ffd200;
		border-radius:50%;
		box-shadow:0px 0px 5px 4px rgba(0,0,0,0.1);
		background:url(../../../image/single/common/icon_share.png) no-repeat left top;
		background-size: contain;
		.text__description{
		    @include ir();
        }
    }

    .list__sns{
		z-index:1;
        //display:none;
		.icon{
			border-radius:50%;
			&.kakaotalk{
				transition: all .1s cubic-bezier(0.42, 0, 0.59, 1.06);
			}
			&.facebook{
				transition: all .18s cubic-bezier(0.42, 0, 0.59, 1.06);
			}
			&.twitter{
				transition: all .24s cubic-bezier(0.42, 0, 0.59, 1.06);
			}
			&.line{
				transition: all .27s cubic-bezier(0.42, 0, 0.59, 1.06);
			}
			.button__share_sns{
				width: 100%;
				height:100%;
			}
		}
    }

    &.on{
		z-index: 100;
        overflow:visible;
		.button__share_list{
			position: absolute;
			z-index:20;
			transform:scale(1) rotateZ(360deg);
			border:1px solid #fff;
		}
        .list__sns{
            display:block;
			z-index:10;
            .icon{
                width:36px;
                height:36px;
                position:absolute;
                bottom:0;
                background-color:rgba(255, 255, 255, 1);

                &.kakaotalk{
                    right:50px;
					bottom: 50px;
                }
                &.facebook{
                    right:100px;
                    bottom:100px;
                }
                &.twitter{
                    right:150px;
                    bottom:150px;
                }
                &.line{
                    right:200px;
                    bottom:200px;
                }

				&:hover{
					transform:scale(1.4);
				}
            }
        }
    }
}

.list__vip{
	.vip__item{
		&.narrow_thumbnail{
			.box__share_sns{
				bottom:50%;
				margin-bottom:-18px;
			}
		}

		&.wide_thumbnail{
			.link__vip_item{
				.detail__vip_item{
					.title_content{
						color:#fff;
					}
				}
			}
		}
	}
}

$share-icon-width:34px;
$share-icon-height:34px;
$share-icon-margin:34px;
$share-icon-bounce-up:8px;
$share-icon-bounce-down:4px;
$share-icon-bounce-time:.4s;

.box__share_sns{
	.toggle{
		position:absolute;
		top:50%;
		right:0;
		margin-top:$share-icon-height/2*-1;
		z-index:20;
	}
	&:before{
		width:0;
		height:0;
		position:fixed;
		top:-200px;
		right:0;
		bottom:-200px;
		left:0;
		background:rgba(0,0,0, 0);
		transition: all .3s ease-in;
		content:'';
		opacity:1;
		//transition: opacity 0.4s ease-in;
	}
	&.on{
        display:block;
		&:before, ul, li, .button__share_list{
			opacity:1;
		}
		&:before{
			-webkit-animation: share-dimmed-open 0.5s forwards;
			-moz-animation: share-dimmed-open 0.5s infinite;
			-o-animation: share-dimmed-open 0.5s infinite;
			animation: share-dimmed-open 0.5s forwards;
		}
		&:before{
			width:auto;
			height:auto;
			//position:fixed;
			//top:0;
			//right:0;
			//bottom:0;
			//left:0;
			background:rgba(0,0,0,.765);
			//content:'';
			opacity:1;
			//transition: opacity 0.4s ease-in;
		}
		.icon.toggle{

		}
		li{
			.icon{
				-webkit-animation: flowery-pop-open $share-icon-bounce-time forwards;
				-moz-animation: flowery-pop-open $share-icon-bounce-time infinite;
				-o-animation: flowery-pop-open $share-icon-bounce-time infinite;
				animation: flowery-pop-open $share-icon-bounce-time forwards;
			}
		}
	}

	&:after{
		display:block;
		clear:both;
		content:'';
	}
	.share-inner {
		overflow:hidden;
		position:absolute;
		top:($share-icon-height + $share-icon-margin + $share-icon-bounce-up) * -1;
		right:0;
		text-align:right;
		width:($share-icon-width * 2) + $share-icon-margin + $share-icon-bounce-up;
		height:($share-icon-margin * 2) + ($share-icon-height * 3) + ($share-icon-bounce-up * 2);
	}

	ul{
		li{
			display:inline-block;
			position:absolute;
			//bottom:($share-icon-margin + $share-icon-height) * -1;
			left:0;
			bottom:0;
			width:$share-icon-width;
			height:$share-icon-width;
			//height:($share-icon-margin * 2) + ($share-icon-height * 3);
			opacity: 0.001;
			.icon{
				position:absolute;
				top:$share-icon-height + $share-icon-margin;
				left:0;
				z-index:20;
				-webkit-animation: flowery-pop-close $share-icon-bounce-time forwards;
				-moz-animation: flowery-pop-close $share-icon-bounce-time infinite;
				-o-animation: flowery-pop-close $share-icon-bounce-time infinite;
				animation: flowery-pop-close $share-icon-bounce-time forwards;
			}
		}
		li:last-child{
			-webkit-transform:rotate(-180deg);
			transform:rotate(-180deg);
			.icon{
				-webkit-transform:rotate(180deg);
				transform:rotate(180deg);
			}
		}
		@for $i from 1 through 10{
			li:nth-child(#{$i}){
				.icon{
					$animation-delay : (($i)-1) * -0.04s;
					animation-delay:$animation-delay;
				}
			}
		}
		@for $i from 3 through 10{
			&.length#{$i}{
				@for $j from 2 through $i{
					li:nth-child(#{$j}){
						$rotate-deg : 180/(($i)-1)*(($j)-1) * 1deg;
						-webkit-transform:rotate($rotate-deg * -1);
						transform:rotate($rotate-deg * -1);
						.icon{
							-webkit-transform:rotate($rotate-deg);
							transform:rotate($rotate-deg);
						}
					}
				}
			}
		}
	}
}