@charset "UTF-8";

.list__service_site{
  margin:15px;
  box-shadow:1px 2px 8px 0px rgba(0, 0, 0, 0.3);
  @include clearfix();
  .item__service_site{
      width:33%;
      float:left;
      .tab__ad_list{
        position:relative;
        display:block;
        &:after{
          content:'';
          height:5px;
          position:absolute;
          left:0;
          right: 0;
          bottom:0;
          background:#fff;
        }
        .icon{
          display:block;
          background:#9a9a9a;
          width:100%;
          height:50px;
          .ir{
            @include ir();
          }
        }
      }

      &.auction{
        .tab__ad_list{
          .icon{
            background:#243069;
          }
        }
      }

      &.gmarket{
        .tab__ad_list{
          .icon{

          }
        }
      }

      &.g9{
        .tab__ad_list{
          .icon{

          }
        }
      }

      &.on{
          width:34%;
          .tab__ad_list{
            &:after{
              background:#ffd200;
            }
            .icon{

            }
          }
      }
  }
}

.box__list_vip{
  .list__vip{
    display:none;
    .vip__item{
      position: relative;
      margin: 15px;
      box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.3);

      &.wide_thumbnail{
        margin-top:10px;
        &:first-child{
          margin-top:0;
        }
        .link__vip_item{
          border-radius:2px;
          overflow:hidden;
          position:relative;
          font-size:0;
          .image__vip_item{
            .thumbnail{
              width:100%;
              height:250px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size:cover;
              transition:all .3s ease-out;
            }
          }
          .detail__vip_item{
            padding: 0px 60px 15px 15px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,.6) 80%);
            .description{
              //display: none;
            }
            .title_content {
              -webkit-line-clamp: 2;
              text-shadow:1px 1px 5px rgba(0,0,0,0.6);
            }
          }
        }
      }

      &.narrow_thumbnail{
        .link__vip_item{
          border-radius:2px;
          overflow:hidden;
          background-color:rgb(183, 187, 208);
          .image__vip_item{
            width:150px;
            height:120px;
            float:left;
            .thumbnail{
              width:100%;
              height:100%;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size:cover;
              transition:all .3s ease-out;
            }
          }
          .detail__vip_item{
            position:relative;
            height:100%;
            padding:10px 60px 10px 15px;
            &:before{
              content: '';
              display: block;
              position: absolute;
              left: -8px;
              top: 0;
              width: 8px;
              bottom: 0;
              background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.1) 100%);
            }
            .title_content {
              -webkit-line-clamp: 3;
            }
            .description{
              margin-top:5px;
              color:#7d8193;
            }
          }

          &:hover{
            .thumbnail {
              //transform: translateX(-100%);
            }
          }
        }
        &:first-child{
          background: red;
          .link__vip_item{
            border-top:none;
          }
        }
      }
    }
  }

  &.auction{
    .auction{
      display:block;
    }
  }
  &.gmarket{
    .gmarket{
      display:block;
    }
  }
  &.g9{
    .g9{
      display:block;
    }
  }
}

.list__vip .vip__item.wide_thumbnail .link__vip_item {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.header-all li .link__vip_item {
  border-top: none;
}

.list__vip .vip__item.wide_thumbnail .image__vip_item {

  position: relative;
  width: 100%;
  height: auto;
}

.list__vip .vip__item.wide_thumbnail .image__vip_item img {
  width: 100%;
}

.list__vip .vip__item.wide_thumbnail .detail__vip_item {
  padding: 0 15px 15px 15px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.list__vip .vip__item.wide_thumbnail .post-title {

  width: 100%;
  position: relative;
  overflow: hidden;
}

.list__vip .vip__item.wide_thumbnail .title_content {
    font-size: 14px;
      line-height: 1.2;
      color: #fff;
      margin-top: 10px;
}

.list__vip .vip__item.wide_thumbnail .description {
  margin-top: 5px;
  float: left;
  font-size: 12px;
  line-height: 12px;
}

.list__vip {
  list-style: none;
}

.list__vip .link__vip_item{
  display: block;
  max-width: 100%;
  height: 120px;
}

.list__vip li:nth-child(1) .link__vip_item{
  border-top: none;
}

.list__vip .image__vip_item {
  width: 150px;
  overflow: hidden;
  border-radius: 1px;
}

.list__vip .image__vip_item img {
  min-height: 90px;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.list__vip .detail__vip_item {

  width: calc(100% - 150px);
  padding: 0px 0 0 15px;
  float: right;
}

.list__vip .title_content {
  font-size: 12px;
  margin: 4px 0 4px;
  color: #fff;
  font-weight: 400;
  /* Overflow */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list__vip .category {
  color: #fff;
  font-size: 10px;
  letter-spacing: .02em;
  line-height: 1.1;
  padding: 4px 7px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  margin-bottom: 2px;
  font-weight: 600;
  border-radius:5px 5px 0 5px;
}

.list__vip .description {
  color: #b7bdc4;
  font-size: 12px;
  margin-top:15px;
}
