@charset "UTF-8";

.page__visit_buyfinish{
  background: #dedede;

}

.page__visit{
  padding: 0;
  margin: 0;
}

.page__visit #app__content{
  padding: 0 !important;
  margin: 0 !important;
}


#vip_frame{
  width:100%;
  height:100%;
  border:0;
  margin:0;
  padding:0;
}

#smileLinker_btn_control{
  position: fixed;
  bottom: 7px;
  right: 5px;
  background: blue;
  opacity: 0.6;
  width: 48%;
  height: 40px;
 z-index: 999;

}



.page__visit_buyfinish .card{
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
  margin:0.5em;
}

page__visit_buyfinish  .card:before,
page__visit_buyfinish  .card:after {
  content: " ";
  display: table;
}
page__visit_buyfinish .card:after {
  clear: both;
}

.card_header {
  border-bottom: 1px solid #ebebeb;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

.contents-header {
  position: relative;
  padding: 20px;
  color: #000000;
  text-align: left;
  overflow: hidden;
  background: #fff;
}

.payed-info .card_body {
  padding: 0.125em 0;
}

.payed-info .info-table {
  padding: 10px 20px;
}

.info-table-item:before, .info-table-item:after {
  content: " ";
  display: table;
}

.info-table-item-th {
  font-size: 13px;
  float: left;
  width: 8.07692308em;
  color: #666666;
  line-height: 1.38461538;
  letter-spacing: -0.03125rem;
}

.payed-info .info-table-item-td {
  text-align: right;
}

.info-table + .info-table {
  border-top: 1px solid #ebebeb;
}





.page__visit_buyfinish .buy_title {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  font-size: 1em;
  border-radius: 2px;
  margin: 0.5em;
  text-align: center;
  padding-bottom: 30px;
}
.page__visit_buyfinish .buy_title h2{
  font-size: 16px;
  font-weight: bold;
  color: #451e75;
  margin-bottom: 10px;
  border-bottom: 1px solid #451e75;
  padding: 10px 20px;
}
.page__visit_buyfinish .buy_title p{
  font-size: 14px;
  line-height: 26px;
  border-bottom: 1px solid #ddd;
  margin: 20px;
  padding: 20px 0;
}
.page__visit_buyfinish .buy_title p b{
  font-weight: bold;
}
.page__visit_buyfinish .buy_title span{
  font-size: 14px;
  color: #db794e;
  display: block;
  line-height: 29px;
  display: block;
  margin: 20px;
  border-bottom: 1px solid #ddd;
}

.page__visit_buyfinish .buy_title .tip:after{content:"?";background: #6f7386;border-radius: 50%;width: 16px;height: 16px;line-height: 1;display: inline-block;font-size: 11px;vertical-align: middle;font-family: dotum;box-sizing: border-box;padding-top: 2px;margin-left: 2px;font-weight: bold;text-align: center;}
.page__visit_buyfinish .buy_title .tip{display:inline-block;background: #d7d5d5;color: #fff;border-radius: 2px;padding: 2px 8px;line-height: 20px;padding-bottom: 5px;}

.page__visit_buyfinish .buy_title button{
  display: block;
  background: #a192c5;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: #fff;
}