@charset "UTF-8";

#app__footer{
    background-color: #451e75 ;
    padding:15px;
    font-size:11px;
    color:#e3e3e3;
    line-height:1.6;
    .info__address{
        text-align:left;
    }
    .text__copyright{
        text-align:center;
        margin:20px 0 10px;
    }
}
