@charset "UTF-8";

#app__footer{
    background-color: #eeeff4;
    padding: 15px;
    font-size: 11px;
    color: #a09d9d;
    line-height: 1.6;
    border-top: 1px solid #ddd;

    .info__address{
        text-align:left;
    }
    .text__copyright{
        text-align:center;
        margin:20px 0 10px;
    }
}
