@charset "UTF-8";

$header_height: 50px;
#app__id--smilepay{
  min-width:320px;

  #app__header{
    position:fixed;
    left:0;
    right:0;
    top:0;
    width:100%;
    height:$header_height;
    z-index:200;
  }

  #app__content{
    padding:{
      top:$header_height;
      bottom:10px;
    }
  }

  #app__footer{
    width:100%;
  }
}


#button__goto_page_top{
  position:fixed;
  width:45px;
  height:45px;
  right:20px;
  bottom:20px;
  display:block;
  background-color: rgba(0,0,0,.3);
  border-radius:5px;
  border:1px solid #fff;
  z-index:200;
  transition:all .6s ease;
  .text{
    color: #fff;
    line-height: 43px;
    display: block;
    text-align: center;
  }
}