@charset "UTF-8";

.share_sns{color:#000;}
p{font-weight:normal;}
p{color:red;}
.layer__share_sns{
    &:after{
        position: fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index: 100;
        content:'';
        display:block;
        background-color:rgba(0, 0, 0, 0.6);
    }
}
