@charset "UTF-8";
.page__dashboard_list{
  background:#eeeff4;
  .basic_infomation_wrap{
    overflow: hidden;
    position:relative;
    height:145px;
    .basic_infomation{
      position:absolute;
      top:0;
      left:0;
      right:0;
      height:120px;
      margin:10px 10px 20px;
      padding:0 15px 0 135px;
      border:1px solid #ccc;
      border-radius:60px 0 0 60px;
      background:#fff;
      box-sizing:border-box;
      transform: translateX(103%);
      .graph_area{
        position:absolute;
        top:5px;
        left:5px;
        width:110px;
        height:110px;
        border-radius:50%;
        background:navy;
        .progress{
          position: relative;
          width:110px;
          height:110px;
          #bar {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .progress_percent{
          position:absolute;
          top:32px;
          left:35px;
          font-size:13px;
          .number{
            color:#000;
            font-size: 30px;
            padding-right:4px;
          }
        }
        .progress:before {
          content: "";
          display: block;
          position: absolute;
          top:2px;
          left:2px;
          width: 106px;
          height: 106px;
          border: 53px solid white;
          border-radius: 50%;
          box-sizing:border-box;
        }
        .progress:after {
          content: "";
          display: block;
          position: absolute;
          top:10px;
          left:10px;
          width: 90px;
          height: 90px;
          border: 1px solid #ccc;
          border-radius: 50%;
          background:#f1f1f1;
          box-sizing:border-box;
        }
      }
      .user_area{
        .linker_cash{
          position:relative;
          margin:0 0 10px;
          padding:15px 0 5px;
          border-bottom:2px solid #000;
          text-align:right;
          .title_text{
            position:absolute;
            top:15px;
            left:0;
            font-weight:bold;
          }
          .number{
            font-weight:bold;
          }
          .won{

          }
        }
        .infomation_list{
          li{
            padding:5px 0 0;
            font-size: 13px;
          }
          li:first-child{padding:0}
        }
      }
    }
    .basic_infomation.action{
      transform: translateX(0);
      transition: all 0.6s ease-in-out;
    }
  }

  .linker_infomation{
    .linker_tab{
      overflow:hidden;
      margin:0 10px 10px;
      border:1px solid #ccc;
      border-radius:4px;
      li{
        float:left;
        width:50%;
        padding:5px 5px 5px 0;
        background:#fff;
        box-sizing:border-box;
        a{
          display:block;
          height:50px;
          border-radius:4px;
          font-size:13px;
          color:black;
          line-height:50px;
          text-align:center;
        }
      }
      li:first-child{
        padding:5px 0 5px 5px;
      }
      li.selected{
        a{
          background:$color_navi;
          color:#fff;
          font-size: 13px;
        }
      }
    }

    .tab_content{
      padding:0 10px 15px;
      .tab_content1{
        border:1px solid #ccc;
        border-radius:4px;
        background:white;
        .linker_graph_area{
          .date_select_list{
            position:relative;
            padding:10px;
            text-align:right;
            dt{
              position:absolute;
              top:10px;
              left:10px;
            }
            dd{
              display:inline-block;
              a{
                display:block;
                width:30px;
                font-size:13px;
              }
            }
          }
          .graph_box{
            svg{
              width:100%;
              padding-right:10px;
            }
          }
        }
        .linker_graph_area:after{
          content:'';
          display:block;
          height:1px;
          margin:0 10px 10px;
          background:darkgray;
        }
        .linker_list_area{
          .linker_list{
            padding:0 10px 10px;
            li{
              position: relative;
              height: 60px;
              margin-top:10px;
              padding: 10px 50px 0 60px;
              border-top:1px dashed #ececec;
              .image_box{
                position: absolute;
                top: 10px;
                left: 0;
                width: 50px;
                height: 50px;
                border: 1px solid #eee;
                background: white;
                .item_image{
                  width: 50px;
                  height: 50px;
                }
                .sns_icon{
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 20px;
                  height: 20px;
                  img{
                    width:20px;height:20px;
                  }
                }
              }
              .date{
                font-size:12px;
                color:gray;
              }
              .item_name{
                margin-top:5px;
                font-size:14px;
              }
              .status_infomation{
                position: absolute;
                top: 10px;
                right: 0;
                text-align:right;
                .state{
                  display:block;
                  margin-bottom:5px;
                  font-size:12px;
                  color:gray;
                }
                .cashback{
                  font-size:14px;
                  font-weight:bold;
                }
                .won{
                  font-size:12px;
                }
              }
            }
            li:first-child{
              margin-top:0;
              border-top:0 none;
            }
          }
        }
      }
      .tab_content2{
        display:none;
        .linker_maker_list{
          padding:0 0 20px;
          li{
            padding:0 0 10px;
            a{
              display: block;
              overflow: hidden;
              border:1px solid #ddd;
              border-radius:4px;
              img{
                max-width:100%;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}