<div class="buy_title">
    <h2>주문완료</h2>
    <p>
        <b>결제</b>가 완료되었습니다.
        <br/>이용해 주셔서 감사합니다.
    </p>
    <span>스마일 링커 혜택 적용되었습니다. <span class="tip">스마일링커란</span></span>
    <a href="//localhost:8890/html/app/smilepay/page__dashboard.html#list" class="goto_mypage" style="text-align:center;">마이페이지 바로가기</a>
</div>


<div class="card payed-info">
    <div class="card_header">
        <div class="contents-header"><p class="contents-header-title">결제정보</p></div>
    </div>
    <div class="card_body">
        <ul class="info-table">
            <li class="info-table-item"><span class="info-table-item-th">상품금액</span>
                <div class="info-table-item-td ng-binding">39,800원</div>
            </li>
            <li class="info-table-item"><span class="info-table-item-th">배송비</span>
                <div class="info-table-item-td ng-binding">2,500원</div>
            </li><!-- ngIf: payInfo.OrderDetail.AdditionShippingFeeSum > 0 --></ul>
        <ul class="info-table ng-scope">
            <!-- ngIf: payInfo.OrderDetail.DirectDiscountSum > 0 -->
            <li class="info-table-item ng-scope" ng-if="payInfo.OrderDetail.DirectDiscountSum > 0"><span
                    class="info-table-item-th">즉시할인</span>
                <div class="info-table-item-td ng-binding">-2,390원</div>
            </li><!-- end ngIf: payInfo.OrderDetail.DirectDiscountSum > 0 -->
            <!-- ngIf: payInfo.OrderDetail.CouponDiscountSum > 0 -->
            <li class="info-table-item ng-scope" ng-if="payInfo.OrderDetail.CouponDiscountSum > 0"><span
                    class="info-table-item-th">쿠폰할인</span>
                <div class="info-table-item-td ng-binding">-5,000원</div>
            </li>
        </ul>
        <ul class="info-table">
            <li class="info-table-item ng-scope">
                <span class="info-table-item-th ng-binding">신용카드결제</span>
                <div class="info-table-item-td ng-binding">
                    <span class="card-info ng-binding ng-scope">KB국민카드</span>
                     34,910원
                </div>
            </li>
        </ul>
        <ul class="info-table">
            <li class="info-table-item payed-contents-header-total-price">
                <span class="info-table-item-th">최종결제금액</span>
                <div class="info-table-item-td ng-binding">34,910원</div>
            </li><!-- ngIf: payInfo.OrderDetail.RefundDeductAmount > 0 -->
        </ul>
     </div>
</div>